body {
    font-family: 'Roboto', sans-serif;
    padding-top: 90px;
    position: relative;
}

html {
    height: 100%;
}

body {
    background-color: #2f3136;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

#curve_chart {
    width: 90%;
    height: 500px;
    margin: auto
}

table {
    width: 100%;
    border: 1px solid black;
}

/* unvisited link */
a:link {
    color: #74b0c4;
}

/* visited link */
a:visited {
    color: #74b0c4;
}

/* mouse over link */
a:hover {
    color: #b2bcbd;
}

/* selected link */
a:active {
    color: #4169e1;
}

a {
    text-decoration: none;
}

.center {
    margin: auto;
    width: 70%;
    height: 100%;
    padding: 10px;
    background-color: aliceblue;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }