<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}TOHacks{% endblock %}</title>
    <link href="/static/css/stylesheet.css" rel="stylesheet" />
    <link href="/static/css/navbar.css" rel="stylesheet" />
    <script src="static/js/navbar.js"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    <div class="navMenu" id="navMenuId">
      <a class="icon" href="javascript:void(0);" onclick="openMenu()">&#9776;</a>
      <a href="/" class="main_links">Home</a>
      <a href="/about" class="main_links">About</a>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
