{% extends "base.html" %} {% block title %} {{ super() }} - {{ province }}{%
endblock %} {% block head %}
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  var chart_data = {{ chart_data|tojson }};
</script>
<script src="/static/js/chart.js"></script>
{% endblock %}
{% block content %}
<div class="center">
  <h1 style="text-align: center;">{{ province.upper() }}</h1>
  <br/><br/>
  <div id="curve_chart" style="width: 900px; height: 500px; margin: auto"></div>
  <br/><br/>
  <div>
    <h2>Prediction</h2>
    <table style="width: 100%; border: 1px solid black">
      <tr>
        <th>days</th>
        <th>Cases</th>
        <th>total cases</th>
        <th>deceased</th>
        <th>total deceased</th>
      </tr>
      {% for days in prediction %}
        <tr>
          <td>{{loop.index}}</td>
          {% for values in days %}
          <td>{{values}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
