{% extends "base.html" %} {% block title %} {{ super() }} - {{ province }}{%
endblock %} {% block head %}
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  var chart_data = {{ chart_data|tojson }};
</script>
<script src="/static/js/chart.js"></script>
{% endblock %}
{% block content %}
<div class="center">
  <h1 style="text-align: center;">{{ province.upper().replace('_', ' ') }}</h1>
  <br/><br/>
  <div id="curve_chart" style="height: 1000px; position: relative;"></div>
  <br/><br/>
  <div>
      <br/>
    <h2 style="text-align: center; margin: 0;">Prediction</h2><br/><br/>
    <table style="text-align: center; width:100%; height:100%;">
      <tr>
        <th>days</th>
        <th>Cases</th>
        <th>total cases</th>
        <th>deceased</th>
        <th>total deceased</th>
      </tr>
      {% for days in prediction %}
        <tr>
          <td>{{loop.index}}</td>
          {% for values in days %}
          <td>{{values|round|int}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br/><br/>
  </div>
</div>
{% endblock %}
